
<div class="container">


    <div class="container">
        <h2>Instances</h2>
        <p>Table that list AWS instances and their respective regions and states</p>
        <table class="table">
            <thead>
            <tr>
                <th>Instance</th>
                <th>Region</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="instance in instances.data track by $index">
                <td>{{ instance.instance_id }}</td>
                <td>{{ instance.availability_zone}}</td>
                <td>{{ instance.instance_state }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" ng-if="instances.data.length > 0" ng-click="logout()"> Logout</a>
            <a href="#" ng-if="!instances.data"> Please login to view instances</a>
        </div>
    </div>
</div>
